.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100vw;
    padding: 0 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

@media (max-width: 860px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

.title {
    font-size: 2em;
    font-weight: normal;
}

.header__contact-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header__phone {
    display: block;
}

.header__mail {
    display: block;
}

.header__logo {
    width: 16rem;
    height: 8rem;
}
